<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crabapple - An automatic deployment tool integrated with Github</title>
    <script src="/static/js/libs/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="/static/css/foundation.css">
    <!-- This is how you would link your custom stylesheet -->
    <!-- <link rel="stylesheet" href="css/app.css"> -->
    <script src="/static/js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="fixed">
      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="/">Crabapple</a></h1>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right" style="margin-right:20px;">
            <li><a href="/deploy" class="button">Deploy Now!</a></li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li class="active"><a href="/deployments">Deployments</a></li>
            <li><a href="/specs">Specs</a></li>
          </ul>
        </section>
      </nav>
    </div>

    <div class="row" style="margin-top:100px;">
      <table id="deployment-list"  style="width:100%;">
        <thead>
          <tr>
            <th width="50">#</th>
            <th>Spec</th>
            <th>Branch</th>
            <th>Commit</th>
            <th>Pusher</th>
            <th>Scheduled At</th>
            <th>Start At</th>
            <th>End At</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {% for deployment in deployments|reverse %}
          <tr>
            <td><a href="/deployment/{{ deployment.id }}">{{ deployment.id }}</a></td>
            <td>{{ specs[deployment.spec_id].name }}</td>
            <td>{{ deployment.branch }}</td>
            <td><a target="_blank" href="{{ deployment.triggered_commit.url }}" title="{{ deployment.triggered_commit.hash }}">{{ deployment.triggered_commit.hash|truncate(8, True) }}</a></td>
            <td><a href="#" title="{{ deployment.pusher_email }}">{{ deployment.pusher_name }}</a></td>
            <td>
              {% if deployment.triggered_time %}
              {{ deployment.triggered_time.strftime('%Y-%m-%d %H:%M:%S')}}
              {% else %}
              -
              {% endif %}
            </td>
            <td>
              {% if deployment.start_time %}
              {{ deployment.start_time.strftime('%Y-%m-%d %H:%M:%S') }}
              {% else %}
              -
              {% endif %}
            </td>
            <td>
              {% if deployment.end_time %}
              {{ deployment.end_time.strftime('%Y-%m-%d %H:%M:%S') }}
              {% else %}
              -
              {% endif %}
            </td>
            <td>
              {% if deployment.status == 0 %}<span class="label radius">Scheduled</span>{% endif %}
              {% if deployment.status == 1 %}<span class="label info radius">Running</span>{% endif %}
              {% if deployment.status == 2 %}<span class="label success radius">Success</span>{% endif %}
              {% if deployment.status == 3 %}<span class="label alert radius">Failed</span>{% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <footer class="row" style="position:fixed;bottom:10px;">
      <div class="large-12 columns">
        <div class="row">
          <p style="text-align:center;">
            An open source software released by <a href="http://www.starfruit.io">starfruit.io</a>.
          </p>
        </div>
      </div>
    </footer>
    <script src="/static/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
